@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table, thead, tbody, th, td, tr {
		display: block; 
	}

	thead tr { 
		display: none;
	}
	
	tr { border: 1px solid #ccc; }

	table.balance td:nth-of-type(1):before { content: "Datum: "; }
	table.balance td:nth-of-type(2):before { content: "Name: "; }
	table.balance td:nth-of-type(3):before { content: "Beschreibung: "; }
	table.balance td:nth-of-type(4):before { content: "Betrag: "; }
	table.balance td:nth-of-type(5):before { content: "Kategorie: "; }
	table.balance td:nth-of-type(6):before { content: "Notiz: "; }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: #4CAF50;
  color: white;
  text-align: left;
}

tr:nth-child(odd){
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

td img {
  vertical-align: middle;
}

input[type=text] {
  border: 1px solid #555;
}

input[type=text]:focus {
  border: 3px solid #555;
  background-color: lightgreen;
}

input.wrongInput {
  background-color: #FB7373;
}

.dontshow {
  visibility: hidden;
}

.clickable {
  cursor: pointer;
}
